name: E2E test

on:
  push:
    branches:
      - main
    tags-ignore:
      - v*
  pull_request:

env:
  # incremental builds are slower and don't make much sense in ci
  CARGO_INCREMENTAL: 0
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: FULL
  FOUNDRY_PROFILE: ci

jobs:
  test:
    name: E2E-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - uses: foundry-rs/foundry-toolchain@v1
      - run: cd contracts && forge install && forge build
      - run: |
          curl -L https://raw.githubusercontent.com/AztecProtocol/aztec-packages/refs/heads/next/barretenberg/bbup/install | bash
          echo "${HOME}/.bb" >> $GITHUB_PATH
          ${HOME}/.bb/bbup -nv 1.0.0-beta.18
      # - uses: Swatinem/rust-cache@v2
      - name: E2E-Test
        run: bash local-setup.sh test
